<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eeui.android.jiyiEeuialipay"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- 为了使用 "通用跳转 SDK" 的能力，需要在您的 App 的 AndroidManifest.xml 中添加这一项 -->
        <!-- 并合理设置 android:scheme 的值 -->
        <activity android:name="com.alipay.sdk.app.AlipayResultActivity" tools:node="merge">
            <intent-filter tools:node="replace">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="__alipaysdkdemo__"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
